{{!-- * Setup the `index.handlebars` to have the template that Handlebars can render onto. --}}

<h1>Eat-Da-Burger!</h1>

<!-- Pass in data from server.js -->

{{!-- Display all burgers --}}
{{#each burgers}}
    {{this.id}}{{this.burger_name}}
    <button data-id="{{this.id}}" class="update-burger">Devour it!</button>
{{/each}}

{{!-- Form to add new burger to db --}}
<form class="create-form">
    <div class="form-group">
        <label for="burger">Add a Burger:</label>
        <input type="text" id="burger" name="newBurger">
        <button type="submit">Submit</button>
    </div>
</form>